#root {
  height: 100vh;
  overflow: auto;
  font-family: 'Epilogue', sans-serif;
  padding-bottom: 5rem;
}
.content {
  min-height: 100%;
  position: relative;
}
footer {
  margin-top: -6rem;
}

.nerko-font {
  font-family: 'Nerko One', cursive !important;
}

.epilogue-font {
  font-family: 'Epilogue', sans-serif;
}
