.footer {
  height: 6rem;
  background: #128061;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  padding: 50px;
}
.gather-link{
  font-size: 25px;
  margin: 0%;
  margin-right: 80px;
  padding: 3px;
  color: white;
  text-decoration: none;
}
.footer-link{
  font-size: 13px;
  margin: 0%;
  padding: 0px 0px 0px;
  text-decoration: none;
  color:white;
}


.contact{
 margin:0px 0px 40px;
}
.about{
  margin:0px 0px 40px;
}

